@charset "utf-8";

body {margin: 0;padding: 0;background-color: #cccccc;color: #333333;font-size: 20px;font-family: 'Jura', sans-serif;line-height: 2;background-image: url(../image/bg-index.png);background-repeat: no-repeat;background-position: center center;background-attachment: fixed;background-size: cover;}

header {width: 90%;height: 100px;margin :0 auto;}

.logo img {float: right;height: 9%;width: 9%;}

a {color: black;text-decoration: none;}

a:visited {color: #771e2c;}

footer a {color: #ffffff;text-decoration: none;}

footer a:visited {color: #ffffff;}

img {vertical-align: bottom; width: 100%;height: 100%;}

ul {margin: 0;padding: 0;}

.global-nav {float: right;margin-top: 3%;margin-right: 20px;}

.global-nav li {float: left;margin: 0 20px;list-style: none;}

.global-nav li a {color: #ffffff;}

.global-nav li a:hover {border-bottom: 2px solid #771e2c;padding-bottom: 3px;text-decoration: none;}

.content {width: 90%;margin: 0 0;}

p,h1,h2,h3,h4,h5,h6 {margin-top: 0;}

h1 {font-size: 100px;line-height: 1;color: #ffffff;border: none;}

h2 {font-size: 30px;border-bottom: 1px solid #771e2c;}

h4 {font-size: 25px;}

h3 {font-size: 15px;color: #771e2c;}

.icon-h1:before {content: "";padding-right: 4%;border-left: 15px solid #771e2c;}

.icon-h2:before {content: "";padding-right: 3%;border-left: 10px solid #771e2c;}

.icon-h4:before {content: "";padding-right: 2%;border-left: 8px solid #771e2c;}

.icon-p:before {content: "";padding-right: 2%;border-left: 5px solid #771e2c; }

.btn a {background-color: #771e2c;color: #ffffff;width: 185px;display: block;text-align: center;line-height: 50px;margin-top: 20px;border-radius: 5px;border: 3px solid #771e2c;}

.btn a:hover {text-decoration: none;background-color: #ffffff;color: #771e2c;}

footer {text-align: center;color : #ffffff;padding-top: 50px ;background-color: #771e2c;width: 100%; }

footer small {width: 90%;margin :0 auto; }

#index wrap {background-color: transparent;margin-top: 0;padding: 0;}

#index .content {margin-top: 150px;}

#index p {font-size: 16px;color: #ffffff;}

#index footer {position: absolute;bottom: 0;}

.main-center {width: 940px;margin: 0 auto; padding-bottom: 0;}

#wrap {clear: both;background-color: #ffffff;margin-top: 220px;padding-bottom: 35px ;}

#city {background-color: #ffffff; padding-top: 35px; padding-bottom: 35px;}
#subwrap {clear: both;background-color: #ffffff;}

#subwrap img{vertical-align: bottom; width: 50%;height: 50%;margin-left: 25%}
.clearfix:after {content: "";display: block;clear: both;}

section {margin-bottom: 35px}

.list li {float: left;list-style: none;margin: 0 2% 2% 0;width: 32%;height: 32%;}

.list li p {font-size: 18px;text-align: justify;}

.list li:nth-child(3n) {margin-right: 0;}

.topic-txt {float: left;width: 66%;text-align: justify;}

.topic-image {float: right;width: 30%;height: 30%;}