@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

header {
  width: 90%;
  height: 100px;
  margin :0 auto;
}

.logo img {
  float: right;
  height: 9%;
  width: 9%;
}

a {
  color: #3583aa;
  text-decoration: none;
}

a:visited {
  color: #788d98;
}

a:hover {
  text-decoration: underline;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

.global-nav {
  float: right;
  margin-top: 3%;
  margin-right: 20px;
}

.global-nav li {
  float: left;
  margin: 0 20px;
  font-size: 20px;
  list-style: none;
  font-family: 'Jura', sans-serif;
}

.global-nav li a {
  color: #ffffff;
}

.global-nav li a:hover {
  border-bottom: 2px solid #771e2c;
  padding-bottom: 3px;
  text-decoration: none;
}

#wrap {
  clear: both;
}

.content {
  width: 90%;
  margin: 0 auto;
}

p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

h1 {
  font-size: 100px;
  line-height: 1;
  color: #ffffff;
  font-family: 'Jura', sans-serif;
}

h2 {
  font-family: 'Jura', sans-serif;
  font-size: 24px;
}

.icon:before {
  content: "";
  padding-right: 3%;
  border-left: 15px solid #771e2c; 
}

.btn a {
  background-color: #771e2c;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Jura', sans-serif;
  width: 185px;
  display: block;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  border: 3px solid #771e2c;
}

.btn a:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #771e2c;
}

footer {
  text-align: center;
  color : #ffffff;
  padding: 50px 0;
  font-family: 'Jura', sans-serif;
  position: absolute;
  bottom: 0;
  
  
  
  background-color: #771e2c;
  width: 100%; 
}

footer small {
  width: 90%;
  margin :0 auto;
  font-size: 20px 
}

#index {
  background-image: url(../image/bg-index.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#index .content {
  margin-top: 150px;
}

#index p {
  font-size: 16px;
  color: #ffffff;
}

#index h1 {
  font-size: 100px;
  line-height: 1;
  color: #ffffff;
  font-family: 'Jura', sans-serif;
  margin-bottom: 50px;
}

#index footer {
  width: 100%;
  margin: 50px auto 0 auto;
  text-align: center;
  background-color: #771e2c;
}

.main-center {
  width: 940px;
  margin: 0 auto;
}

#about {
  background-image: url(../image/bg-index.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

#about .profile-txt {
  width: 540px;
  float: left;
}

#about .profile-txt span {
  font-weight: bold;
}

#about .profile-image {
  float: right;
}